.apresentacao {
  height: 700px;
  background-color: #ffdb88;
  background-image: url("../../assets/banner-home.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  place-items: center;
  place-content: center;
}

.apresentacao h1 {
  text-align: center;
  font-size: 7rem;
  color: white;
  text-shadow: 2px 3px black;
}

.home-grid section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
}

@media (width > 768px) {
  .home-grid section:nth-of-type(even) div {
    grid-column: 1;
    grid-row: 1;
  }
}
.home-grid div {
  padding: 2rem 0;
  font-size: 1.25em;
}

.home-grid img {
  width: 100%;
}

.home-grid h2 {
  font-size: 2.5vw;
}

.home-grid h3 {
  font-style: italic;
  font-size: 1.5vw;
}

.home-grid p {
  font-size: 1vw;
  max-width: 55ch;
  padding: 2rem;
  margin: 0 auto;
  text-align: justify;
}

@media (width <= 1100px) {
  .home-grid h2 {
    font-size: 3vw;
  }

  .home-grid h3 {
    font-size: 2vw;
  }

  .home-grid p {
    font-size: 1.5vw;
  }
}

@media (width <= 768px) {
  .home-grid section {
    grid-template-columns: 1fr;
  }
  .home-grid div {
    padding: 5rem 0;
  }

  .home-grid h2 {
    font-size: 5vw;
  }

  .home-grid h3 {
    font-size: 3.25vw;
  }

  .home-grid p {
    font-size: 2.5vw;
  }
}

@media (width <= 600px) {
  .apresentacao h1 {
    font-size: 14vw;
  }
}
