.apresentacao-sabores {
  height: 550px;
  background-color: #ffdb88;
  background-image: url("../../assets/banner-sabores.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  place-items: center;
  place-content: center;
}

.apresentacao-sabores h1 {
  text-align: center;
  font-size: 7rem;
  color: white;
  text-shadow: 2px 3px black;
}

.SaboresTitulo {
  width: 100%;
  text-align: center;
  height: 70px;
}

.Sabores {
  padding: 5rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 2rem;
  justify-content: center;
}

.Sabores-item {
  display: grid;
  grid-template-rows: 225px 2rem 1fr;
  place-items: start center;
  text-align: center;
  width: 250px;
  height: 350px;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #cdcdcd;
}

.Sabores-item h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.Sabores-item p {
  font-size: 1.15rem;
}

.Sabores-item img {
  max-width: 100%;
  place-self: center;
}
