header,
header a {
  background-color: #ffdb88;
  color: brown;
  text-decoration: none;
}
.header {
  margin: 0 auto;
  max-width: 768px;
  font-weight: bold;
  justify-content: space-between;
  place-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.logo {
  max-width: 75px;
}

.menu {
  list-style: none;
  display: flex;
  padding: 1rem;
  gap: 2rem;
}

.menu a {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

@media (width <= 450px) {
  .header {
    flex-direction: column;
  }
  .menu {
    border-top: 1px solid black;
  }
}
